<footer>

<div>
    <h2>
        Tecnology News
    </h2>
    <p>Mobile</p>
    <p>Apps</p>
    <p>Social Media</p>
    <p>Gadgets</p>
    <p>Science</p>
</div>

<div>
    <h2>
        Entertainment News
    </h2>
    <p>Bollywood News</p>
    <p>Trending</p>
    <p>Web Series</p>
    <p>Television News</p>
    <p>South Cinema</p>
    <p>Movie Reviews</p>
    <p>Hollywood News</p>
    <p>Others</p>
    <p>Viral News</p>
</div>


<div>
    <h2>
        Worlds News
    </h2>
    <p>US News</p>
    <p>UK News</p>
    <p>Global Event News</p>
    <p>Pakistab News</p>
    <p>Rest Of The World</p>
    <p>News Afganistan</p>
    <p>News</p>
    <p>Middle East</p>
</div>

<div>
    <h2>
        Shows
    </h2>
    <p>पूछता है भारत</p>
    <p>सीरियल क्वीन</p>
    <p>किस्मत की कुंडली</p>
</div>

<div>
    <h2>
        Sports News
    </h2>
    <p>Cricket News</p>
    <p>Football News</p>
    <p>Tennis News</p>
    <p>Hockey News</p>
    <p>Badminton News</p>
    <p>Other Sport News</p>
    <p>T20 World Cup</p>
</div>



<div>
    <h2>
        India News
    </h2>
    <p>Politics</p>
    <p>Law and Orders</p>
    <p>Economy</p>
    <p>Elections</p>
    <p>General News</p>
    <p>Accidents And Disaster</p>
    <p>City News</p>
    <p>Covid News</p>
</div>

<div>
    <h2>
        Follow Us On
    </h2>
    <p>Koo Koo App</p>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Youtube</p>
    <p>Twitter</p>
</div>
</footer>
