<main>
    <div id="imgmain">
        <img src="https://img.republicworld.com/republic-prod/logo/16454254706213333e6b191.jpg" alt="">
    </div>

    <div class="box1">
        <div>
            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/xxhdpi/165674023562bfd98b3b78f.jpeg?tr=w-478,h-276"
                        alt="">
                </div>
                <h2>भाजपा राष्ट्रीय कार्यसमिति की बैठक में विधानसभा चुनावों में जीत, भावी रणनीति पर चर्चा की संभावना</h2>
            </div>


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1654539233629e43e122b16.jpeg?tr=w-378,h-203"
                        alt="">
                </div>
                <h2>भाजपा ने संगरूर लोकसभा उपचुनाव के लिए केवल सिंह ढिल्लों को उम्मीदवार बनाया</h2>
            </div>


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/16536664576290f299bd5ad.jpeg?tr=w-378,h-203"
                        alt="">
                </div>
                <h2>चुनावी बॉंड के जरिये 2020-21 में पांच क्षेत्रीय दलों ने 250.60 करोड़ रुपये चंदा प्राप्त होने की घोषणा की:एडीआर</h2>
            </div>



            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/165629723762b9171510725.jpeg?tr=w-142,h-82"
                        alt="">
                </div>
                <h2>संगरूर में हार के लिए मान सरकार का प्रदर्शन नहीं, लोगों की ‘भावना’ जिम्मेदार: आप नेताओं ने कहा</h2>
            </div>




            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/165629637262b913b4671f4.jpeg?tr=w-142,h-82"
                        alt="">
                </div>
                <h2>यूपी उपचुनाव में BJP की जीत पर भड़के ओवैसी; सपा की हार पर अखिलेश यादव को बताया 'अहंकारी'</h2>
            </div>
        </div>
    </div>

    <div class="box1">
        <h1>
            MORE ON ELECTIONS
        </h1>
        <div>
            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1653578021628f992508df3.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>4 month ago</p>
                <h2>निर्मला गहतोड़ी मुख्यमंत्री को देंगी 'कड़ी टक्कर' : हरीश रावतs</h2>
            </div>


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1650100499625a89133f2aa.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>बिहार उपचुनाव: बोचहां विधानसभा सीट पर राजद की जीत</h2>
            </div>

            
            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1650100499625a89133f2aa.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>विधान परिषद चुनाव में भाजपा बड़ी जीत की ओर, सपा का सूपड़ा साफ</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/164975090362553377293ac.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>पश्चिम बंगाल उपचुनाव: आसनसोल से भाजपा की उम्मीदवार की गाड़ी पर पथराव</h2>
            </div>



            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/164974264962551339f3777.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>UP MLC Election Results: 27 में से 16 सीटों पर बीजेपी उम्मीदवार हुए विजयी, नौ प्रत्याशी चुने गए </h2>
            </div>





            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/16494124746250097ab206f.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>उत्तर प्रदेश विधानपरिषद चुनाव में शनिवार को सपा-भाजपा में सीधा मुकाबला</h2>
            </div>









            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/16486252586244066a9eb3c.jpeg?tr=w-263,h-148"
                        alt="">
                </div>

                <p>6 month ago</p>
                <h2>हिमाचल प्रदेश चुनाव के लिए AAP ने कसी कमर, मंडी में निकाली जाएगी पहली 'तिरंगा रैली'</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/164872537562458d7f8a55d.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>'Mission Karnataka 2023' के लिए बीजेपी ने कसी कमर; अप्रैल से राज्य का दौरा करेंगे शीर्ष नेता</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1648376250624039ba138ff.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>6 month ago</p>
                <h2>दानिश आजाद अंसारी : अगले लोकसभा चुनाव के लिए भाजपा की सियासी बिसात का अहम मोहरा</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1648030125623af1ad65f03.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>7 month ago</p>
                <h2>भाजपा एमसीडी चुनाव समय पर कराकर जीत हासिल करती है तो हम राजनीति छोड़ देंगे: सीएम केजरीवाल</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/1647858373623852c5e54b3.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>7 month ago</p>
                <h2>बंगाल उपचुनाव : तृणमूल उम्मीदवार शत्रुघ्न सिन्हा, बाबुल सुप्रियो ने नामांकन दाखिल किया</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/mdpi/164785244162383b993a09d.jpeg?tr=w-263,h-148"
                        alt="">
                </div>
                <p>7 month ago</p>
                <h2>राघव चड्ढा, हरभजन सिंह समेत 3 अन्य 'AAP' सांसदों ने राज्यसभा के लिए भरा नामांकन; पंजाब के मुद्दे </h2>
            </div>








        </div>
    </div>

</main>
