<main>
    <iframe id="mainframe" src="https://www.youtube.com/embed/qfrocHBy6RQ"
        title="Republic Bharat LIVE: Surya Grahan 2022 | Britain PM | CM Yogi | Delhi Air Quality" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <div class="box1">
        <h1>
            LATEST FROM THE DEBATE
        </h1>
        <p>View more</p>
        <div>
            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16373343166197bd2ce26d4.jpeg"
                        alt="">
                </div>
                <p>19th November 2021</p>
                <h2>कानून खत्म तो आंदोलन क्यों ?</h2>
            </div>

            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163527369161784bdba70d1.jpeg" alt="">
                </div>
                <p>27th October 2021</p>
                <h2>भारत में कितने 'पाकिस्तान प्रेमी' ?</h2>
            </div>


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16351848536176f0d5b5c6d.jpeg" alt="">
                </div>
                <p>25th October 2021</p>
                <h2>भारत में 'नापाक प्रेम' वाले कौन ?</h2>
            </div>


        </div>
    </div>









    <div class="box2">
        <h1>
            LATEST VIDEOS
        </h1>
        <div>


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/hdpi/1666606842635666fa8e3e9.jpeg?tr=w-360,h-208"
                        alt="">
                </div>
                <p>1 day ago</p>
                <h2>WATCH | Diwali in kargil: भारतीय सेना के जवानों ने गाया 'वंदे मातरम', देखिए कैसे पीएम मोदी ने भी दिया साथ
                </h2>
            </div>



            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/hdpi/1666598845635647bdc86d2.jpeg?tr=w-360,h-208"
                        alt="">
                </div>
                <p>1 day ago</p>
                <h2>WATCH | 'युद्ध हमारा आखिरी विकल्प है, लेकिन हम मुंहतोड़ जवाब देने के लिए भी तैयार'; दुश्मनों को कारगिल से पीएम मोदी का संदेश

                </h2>
            </div>




            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/hdpi/16655969156346fdf39454a.jpeg?tr=w-360,h-208"
                        alt="">
                </div>
                <p>1 week ago</p>
                <h2>
                    WATCH | बदलते मौसम और त्योहारों की तैयारी के साथ skin का ख्याल रखना है जरूरी, जानिए डॉ निधि गुप्ता से जरूरी टिप्स
                </h2>
            </div>
            


            <div class="card">
                <div class="imgdiv">
                    <img src="https://img.republicworld.com/republic-prod/stories/promolarge/hdpi/166540320163440941b00ef.jpeg?tr=w-360,h-208"
                        alt="">
                </div>
                <p>2 week ago</p>
                <h2>
                    WATCH | Gopal italia के समर्थन में उतरी aap, कहा- 'बीजेपी पाटीदार आंदोलन का ले रही बदला'    
                </h2>
            </div>
        </div>
    </div>



    <div class="last">
        <h1>
            Republic brings to you live TV, for all the latest news from India and around the world.
        </h1>
        <h2>
            Watch all the current, latest and breaking news only on Republic live TV. The one stop destination for live news on politics, entertainment, sports, gadgets, and business. Broadcasting India’s favourite TV news channel live and in full high definition.
        </h2>
    </div>
</main>