<main>
    <h2>
        पूछता है भारत
    </h2>

    <h2>
All Episodes
    </h2>

    <div class="box">
        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/15529228145c8fb8beb1fba.jpeg" alt="">
            </div>
            <h3>
                गाली वाली बोली से चुनाव लड़ेगी कांग्रेस?
            </h3>
        </div>


        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16373343166197bd2ce26d4.jpeg" alt="">
            </div>
            <h3>
                कानून खत्म तो आंदोलन क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163527369161784bdba70d1.jpeg" alt="">
            </div>
            <h3>
                भारत में कितने 'पाकिस्तान प्रेमी' ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16351848536176f0d5b5c6d.jpeg" alt="">
            </div>
            <h3>
                भारत में 'नापाक प्रेम' वाले कौन ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16349736966173b80056d94.jpeg" alt="">
            </div>
            <h3>
                सेहत की कीमत पर राजनीति क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163068760461325174c8475.jpeg" alt="">
            </div>
            <h3>
                नए कश्मीर में नहीं बचेंगे आतंकवादी
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/15529228145c8fb8beb1fba.jpeg" alt="">
            </div>
            <h3>
                गाली वाली बोली से चुनाव लड़ेगी कांग्रेस?
            </h3>
        </div>


        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16373343166197bd2ce26d4.jpeg" alt="">
            </div>
            <h3>
                कानून खत्म तो आंदोलन क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163527369161784bdba70d1.jpeg" alt="">
            </div>
            <h3>
                भारत में कितने 'पाकिस्तान प्रेमी' ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16351848536176f0d5b5c6d.jpeg" alt="">
            </div>
            <h3>
                भारत में 'नापाक प्रेम' वाले कौन ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16349736966173b80056d94.jpeg" alt="">
            </div>
            <h3>
                सेहत की कीमत पर राजनीति क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163068760461325174c8475.jpeg" alt="">
            </div>
            <h3>
                नए कश्मीर में नहीं बचेंगे आतंकवादी
            </h3>
        </div><div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/15529228145c8fb8beb1fba.jpeg" alt="">
            </div>
            <h3>
                गाली वाली बोली से चुनाव लड़ेगी कांग्रेस?
            </h3>
        </div>


        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16373343166197bd2ce26d4.jpeg" alt="">
            </div>
            <h3>
                कानून खत्म तो आंदोलन क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163527369161784bdba70d1.jpeg" alt="">
            </div>
            <h3>
                भारत में कितने 'पाकिस्तान प्रेमी' ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16351848536176f0d5b5c6d.jpeg" alt="">
            </div>
            <h3>
                भारत में 'नापाक प्रेम' वाले कौन ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16349736966173b80056d94.jpeg" alt="">
            </div>
            <h3>
                सेहत की कीमत पर राजनीति क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163068760461325174c8475.jpeg" alt="">
            </div>
            <h3>
                नए कश्मीर में नहीं बचेंगे आतंकवादी
            </h3>
        </div><div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/15529228145c8fb8beb1fba.jpeg" alt="">
            </div>
            <h3>
                गाली वाली बोली से चुनाव लड़ेगी कांग्रेस?
            </h3>
        </div>


        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16373343166197bd2ce26d4.jpeg" alt="">
            </div>
            <h3>
                कानून खत्म तो आंदोलन क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163527369161784bdba70d1.jpeg" alt="">
            </div>
            <h3>
                भारत में कितने 'पाकिस्तान प्रेमी' ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16351848536176f0d5b5c6d.jpeg" alt="">
            </div>
            <h3>
                भारत में 'नापाक प्रेम' वाले कौन ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/16349736966173b80056d94.jpeg" alt="">
            </div>
            <h3>
                सेहत की कीमत पर राजनीति क्यों ?
            </h3>
        </div>

        <div>
            <div class="imgdiv">
                <img src="https://img.republicworld.com/republic-prod/shows/promolarge/ldpi/163068760461325174c8475.jpeg" alt="">
            </div>
            <h3>
                नए कश्मीर में नहीं बचेंगे आतंकवादी
            </h3>
        </div>

    </div>
</main>
