<nav>
    <div class="topnav">
        <div>
            <h5>View in English :</h5>
            <img src="https://bharat.republicworld.com/assets/images/header/republic-world.png" alt="">
        </div>

        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/r-bharat.png" alt="">
        </div>


        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/live-tv.png" alt="">
            <h4>
                live tv
            </h4>
        </div>


<div>
    <a href="#">
            <img src="https://bharat.republicworld.com/assets/images/header/search.png" alt="">
        </a>
</div>
        
    </div>





    <div class="bottomnav">
<a href="#">India News</a>
<a href="#">Elections</a>
<a href="#">Entertainment News</a>
<a href="#">पूछता है भारत</a>
<a href="#">Lifestyle</a>
<a href="#">Technology News</a>
<a href="#">World News</a>
<a href="#">Sports News</a>
    </div>
</nav>