<nav>
    <div class="topnav">
        <div>
            <h5>View in English :</h5>
            <img src="https://bharat.republicworld.com/assets/images/header/republic-world.png" alt="">
        </div>

        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/r-bharat.png" alt="">
        </div>


        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/live-tv.png" alt="">
            <h4>
                live tv
            </h4>
        </div>


<div>
    <a routerLink="search">
            <img src="https://bharat.republicworld.com/assets/images/header/search.png" alt="">
        </a>
</div>
        
    </div>





    <div class="bottomnav">
<a routerLink="/">India News</a>
<a routerLink="elections">Elections</a>
<a routerLink="entertainment">Entertainment News</a>
<a routerLink="puchtahe">पूछता है भारत</a>
<a routerLink="lifestyle">Lifestyle</a>
<a routerLink="technology">Technology News</a>
<a routerLink="world">World News</a>
<a routerLink="sports">Sports News</a>
    </div>
</nav>