<nav>
    <div class="topnav">
        <div>
            <h5>View in English :</h5>
            <img src="https://bharat.republicworld.com/assets/images/header/republic-world.png" alt="">
        </div>

        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/r-bharat.png" alt="">
        </div>


        <div>
            <img src="https://bharat.republicworld.com/assets/images/header/live-tv.png" alt="">
            <h4>
                live tv
            </h4>
        </div>


<div>
    <a routerLink="search">
            <img src="https://bharat.republicworld.com/assets/images/header/search.png" alt="">
        </a>
</div>
        
    </div>





    <div class="bottomnav">
<a  routerLinkActive="active" routerLink="/">India News</a>
<a  routerLinkActive="active" routerLink="elections">Elections</a>
<a  routerLinkActive="active" routerLink="entertainment">Entertainment News</a>
<a  routerLinkActive="active" routerLink="puchtahe">पूछता है भारत</a>
<a  routerLinkActive="active"routerLink="lifestyle">Lifestyle</a>
<a  routerLinkActive="active"routerLink="technology">Technology News</a>
<a routerLinkActive="active" routerLink="world" >World News</a>
<a routerLinkActive="active" routerLink="sports" >Sports News</a>
    </div>
</nav>

<div class="samplenav"></div>

<button class="fixbtn">
    News Hub
</button>